html, body {
  padding: 0;
  margin: 0;
  /*background: url('/img/micro_carbon.png');*/
  background-color: #333333;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #350d69;
  color: #ffffff;
  z-index: 100;
  border-width: 0px 0 1px 0;
  border-style: solid;
  border-color: #200049;
}

#logo {
  float: left;
}

#logo img {
  vertical-align: middle;
  margin: 0 0.5em;
}

#logo span {
  vertical-align: middle;
  font-size: 2em;
}

#settingsBtn {
  position: relative;
  float: right;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  margin: 0.2em 1em;
  cursor: pointer;
}

#settingsBtn img {
  position: absolute;
  -webkit-transition: all 1s ease-in-out;
  transition: all 800ms ease-in-out;
}

#settingsBtn .back {
  opacity: 0;
}

#settingsBtn .front {
  opacity: 1;
}

#settingsBtn.enabled .back {
  opacity:1;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#settingsBtn.enabled .front {
 opacity:0;
 -webkit-transform: scale(0);
 transform: scale(0);
 -webkit-transform: rotateY(180deg);
 transform: rotateY(180deg);
}

.menu_container {
  position: absolute;
  height: 100%;
  width: 25%;
}

.menu {
  position: absolute;
  background-color: #655c02;
  height: 100%;
  width:100%;
  padding-top: 57px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  left: 0
}

.menu_anim_fade_out {
  -webkit-transition: left 500ms ease-in;
  transition: left 500ms ease-in;
}

.menu_anim_fade_in {
  -webkit-transition: left 300ms ease-out;
  transition: left 300ms ease-out;
}

.menu_anim {
  left: -120%;
}

.menu_selector {
  position: absolute;
  top: 0;
  right: -2px;
  height: 100%;
  z-index: 1;
}

#menu_settings {
  display: none;
}

.menu_header {
  color: white;
  font-size: 1.6em;
  text-align: center;
  padding: 0.6em 0;
  margin: 0;
}

.menu_item {
  position: relative;
  text-align: center;
  font-size: 1.4em;
  background-color: #9b8d06;
  margin: 0;
  padding: 0.3em 0;
  cursor: pointer;
  border-width: 0 0 1px 0;
  border-color: black;
  border-style: solid;
}

.menu_item_on {
  -webkit-transition: all 100ms ease-in;
  transition: all 60ms ease-in;
  box-shadow: inset 0px -20px 51px 0px rgba(0, 0, 0, 0.5);
  background-color: #D8C940;
}

.content_container {
  position: absolute;
  left: 25%;
  height: 100%;
  width: 75%;
}

.menu_shadow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-width: 0 2px 0 0;
  border-color: black;
  border-style: solid;
  box-shadow: inset -10px 0px 33px 0px rgba(0,0,0,0.5);
  pointer-events: none;
}

.content_panel {
  position: absolute;
  height: 100%;
  width:100%;
  padding: 107px 50px 50px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  left: 0;
  z-index: 0;
}

.content {
}
